In [4]:
import pandas as pd
import numpy as np
import os

In [7]:
datadir = '../data'

file_path = os.path.join(datadir, 'nurses_deaggregated_by_population.xlsx')

# Read the Excel file into a pandas DataFrame
nurses_df = pd.read_excel(file_path)

In [8]:
nurses_df.head()

,area,area_title,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,...,a_pct75,a_pct90,annual,hourly,title,category,county_code,div_code,county_name,population
0,10180,"Abilene, TX",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,...,74950,85120,NaN,NaN,"Abilene, TX",Metropolitan,"['48059', '48253', '48441']","[None, None, None]","[' Callahan County, TX', ' Jones Cou...","[13943, 20083, 138034]"
1,10380,"Aguadilla-Isabela, PR",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,...,31960,37990,NaN,NaN,"Aguadilla-Isabela, PR",Metropolitan,"['72003', '72005', '72011', '72071', '72081', ...","[None, None, None, None, None, None, None, None]","[' Aguada Municipio, PR', ' Aguadill...",[]
2,10420,"Akron, OH",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,...,76270,81510,NaN,NaN,"Akron, OH",Metropolitan,"['39133', '39153']","[None, None]","[' Portage County, OH', ' Summit Cou...","[162466, 541013]"
3,10540,"Albany, OR",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,...,84610,104530,NaN,NaN,"Albany, OR",Metropolitan,NaN,NaN,NaN,NaN
4,10580,"Albany-Schenectady-Troy, NY",4.0,0.0,Cross-industry,cross-industry,1235.0,29-1141,Registered Nurses,detailed,...,81900,95850,NaN,NaN,"Albany-Schenectady-Troy, NY",Metropolitan,"['36001', '36083', '36091', '36093', '36095']","[None, None, None, None, None]","[' Albany County, NY', ' Rensselaer ...","[305506, 158714, 229863, 155299, 30999]"

In [9]:
# Replace '**' with NaN in the 'tot_emp' column
nurses_df['tot_emp'] = nurses_df['tot_emp'].replace('**', np.nan)

# Drop rows where 'tot_emp' column contains NaN values
nurses_df = nurses_df.dropna(subset=['tot_emp'])

In [21]:
nurses_df = nurses_df.reset_index(drop=True)

In [30]:
nurses_df.columns

Index(['area', 'area_title', 'area_type', 'naics', 'naics_title', 'i_group',
       'own_code', 'occ_code', 'occ_title', 'o_group', 'tot_emp', 'emp_prse',
       'jobs_1000', 'loc_quotient', 'pct_total', 'h_mean', 'a_mean',
       'mean_prse', 'h_pct10', 'h_pct25', 'h_median', 'h_pct75', 'h_pct90',
       'a_pct10', 'a_pct25', 'a_median', 'a_pct75', 'a_pct90', 'annual',
       'hourly', 'title', 'category', 'county_code', 'div_code', 'county_name',
       'population'],
      dtype='object')

In [ ]:
nurses_df.drop()

In [27]:
output_file = '../data/cleaned_nurses_data.xlsx'  

# Save the cleaned DataFrame to a new Excel file
nurses_df.to_excel(output_file, index=False)